{% extends 'base.html' %} <!--informa que esse arquivo puxa informacoes do base.html-->

{% block body %}
<div class="container mt-5"> <!--Utilizamos o código original do Login.HTML e personalizamos-->
    <form method="POST" action="" class="border p-4 mt-2"> <!--classe borda do bootstrap para fazer uma caixa no form, p significa padding, mt significa margin-top (bootstrap)-->
        {{ form.csrf_token }}

          <legend>Create New Post</legend>

          <fieldset> <!--formata os campos do formulário, colocando-os na mesma linha-->
            <div class="form-group"> <!--separando e divs os grupos de itens do formulário para melhor visualização-->
              <!--inserindo labels dos campos antes da declaração-->
              {{ form.titulo.label(class="form-control-label") }} <!--aplicando classe do html em variavel do python para formatação dos campos, definindo a classe form-control (do bootstrap)-->
              {% if form.titulo.errors %} <!--condicional para inserir formatação específica caso haja erro de preenchimento pelo usuário-->
                {{ form.titulo(class="form-control is-invalid") }} <!--formatando o campo com a classe do flask is-invalid para deixar o campo em vermelho-->
              <div class="invalid-feedback">
                {% for erro in form.titulo.errors %}
                  {{ erro }} <!--exibe o erro em tela, dentro de uma div da classe invalid-feedback do flask, personalizando a mensagem-->
                {% endfor %}
              </div>
              {% else %}
                <!--caso não haja erro no preenchimento, exibe o campo normalmente
                a partir dos objetos criados em main, estamos acessando os atributos dos forms-->
                {{ form.titulo(class="form-control") }}
              {% endif %}
            </div>

            <div class="form-group">
              {{ form.corpo.label(class="form-control-label") }}
              {% if form.corpo.errors %} <!--condicional para inserir formatação específica caso haja erro de preenchimento pelo usuário-->
                {{ form.corpo(class="form-control is-invalid") }} <!--formatando o campo com a classe do flask is-invalid para deixar o campo em vermelho-->
              <div class="invalid-feedback">
                {% for erro in form.corpo.errors %}
                  {{ erro }} <!--exibe o erro em tela, dentro de uma div da classe invalid-feedback do flask, personalizando a mensagem-->
                {% endfor %}
              </div>
              {% else %}
                <!--caso não haja erro no preenchimento, exibe o campo normalmente
                a partir dos objetos criados em main, estamos acessando os atributos dos forms-->
                {{ form.corpo(class="form-control") }}
              {% endif %}
            </div>

          </fieldset>

          {{ form.botao_submit(class="btn btn-primary mt-2") }} <!--aqui tambem foi aplicado margin-top no botão-->

        </form>
</div>
{% endblock %}