{% extends 'base.html' %} <!--informa que esse arquivo puxa informacoes do base.html-->

{% block body %}
<div class="container">
    <br>
    <h1>Contato</h1><!--using a container to give a better format/structure in the page-->
    <hr>
    <br>
    <h3>Precisa de ajuda?</h3>
    <br><h5>Entre em contato conosco através dos nossos canais de atendimento:</h5>
    <br>
    <ul>
        <li>E-mail: <a href="">flaskblog.help@gmail.com</a></li>
        <li>Central de atendimento: 0800-000-888</li>
    </ul>
</div>
{% endblock %}