{% extends 'base.html' %} <!--informa que esse arquivo puxa informacoes do base.html-->

{% block body %}
<div class="container mt-3"> <!--using a container to give a better format/structure in the page-->
    <h1>Seja bem-vindo ao meu primeiro blog!</h1>
    <hr>
    <h4 style="color:dark-gray">
    </h4>
    <p>
        O objetivo principal é aprimorar os conhecimentos no Python através da utilização de bibliotecas que auxiliam o
        desenvolvimento web, bem como a integração com banco de dados local e também nos servidores do Railway. O Blog
        conta com validações durante o login e operações com posts, bem como apresenta restrição de telas caso o usuário
        não esteja logado.
        <br><br>
        Principais funcionalidades:
        <ul>
            <li>Criação de usuários;</li>
            <li>Criação e edição de posts;</li>
            <li>Edição do perfil do usuário</li>
        </ul>
        O desenvolvimento do blog foi feito utilizando:
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>SQLAlchemy</li>
            <li>HTMl, CSS e JS/Bootstrap para o Front-End.</li>
        </ul>

        Link do repositório: <a href="https://github.com/victornunesg/web-blog">Github</a>
    </p>

    {% if posts %}
        {% for post in posts %}
            <hr>
            <h3>Confira todas as publicações:</h3>
            <!--meupost é uma classe que foi definida no css (main.css)-->
            <div class="row border mt-4 p-4 meupost" >
                <!--O Bootstrap divide a tela em linhas e colunas, onde o tamanho máximo de colunas (tela cheia) são 12
                Desta forma, estamos dividindo em 2 colunas, uma com 3 posições e outra com 9, de modo a ocupar a tela toda-->
                <div class="col col-2">
                    <div class="image pe-2">
                        <img src="{{  url_for('static', filename='fotos_perfil/{}'.format(post.autor.foto_perfil)) }}" class="rounded" width="200" >
                        <br>
                        <strong>{{ post.autor.username }}</strong>

                        <!--Div que coloca as tags dos cursos em que o usuário está inscrito-->
                        <div class="row justify-content-center">
                            <!--Transforma a string de cursos em uma lista para percorrer e gerar um botão diferente para cada curso-->
                            {% for curso in post.autor.cursos.split(';') %}
                                <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col col-9">
                    <a style="text-decoration: none; color:black" href="{{ url_for('exibir_post', post_id=post.id) }}"><h3>{{ post.titulo }}</h3></a>
                    <p>{{ post.corpo }}</p>
                    <br>
                    <span> Data de criação: {{ post.data_criacao.strftime('%d/%m/%Y') }}</span>
                    <br>

                </div>
            </div>

            <!--Somente para dar um pequeno espaço até o rodapé-->
            <div class="row mt-5"></div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}