<nav class="navbar navbar-expand-lg navbar-light bg-light"> <!--a tag nav é dedicada a criar barra de navegação, nesse caso particular temos 3 classes nela-->
  <div class="container-fluid container"> <!--modificando essa linha do codigo original do bootstrap, incluindo a classe container presente nas demais paginas-->
    <a class="navbar-brand" href="{{ url_for('home') }}">Blog with Flask</a> <!-- renomeando o nome da barra e editando o caminho do link -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Início</a> <!--o comando url_for associa o link à função definida para cada página dentro do decorator, em main.py-->
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('usuarios') }}">Usuários</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('contato') }}">Contatos</a>
        </li>
      </ul>
      <ul class="d-flex navbar-nav"> <!-- classe dflex deixa os itens lado a lado e a navbar-nav formata -->
        <!--Temos um if para condicionar o menu se o usuário estiver logado ou não-->
        {% if current_user.is_authenticated %}  <!--método do flask login > current user -->
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('criar_post') }}">Criar Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('perfil') }}">Meu Perfil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('sair') }}">Sair</a>
          </li>
        {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('login') }}">Criar conta</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>