{% extends 'base.html' %} <!--informa que esse arquivo puxa informacoes do base.html-->

{% block body %}
<div class="container mt-3"> <!--using a container to give a better format/structure in the page-->
    <h1>Welcome to Flask App!</h1>
    <hr>
    <h4 style="color:dark-gray">
    </h4>
    <p>
        The main objective is to improve knowledge in Python through the use of libraries that help web development, as
        well as integration with a local database and also on Railway servers. The Blog has validations during login and
        operations with posts, as well as screen restrictions if the user is not logged in.
        <br><br>
        Main functionalities:
        <ul>
            <li>User creation;</li>
            <li>Post creation and edition (login required);</li>
            <li>User's profile edition (login required)</li>
        </ul>
        The development was done using mainly:
        <ul>
            <li>Python</li>
            <li>Flask</li>
            <li>SQLAlchemy</li>
            <li>HTMl, CSS e JS/Bootstrap.</li>
        </ul>

        Repository link: <a href="https://github.com/victornunesg/flask-app">Github</a>
    </p>
    <hr>
    <h3>Check our posts:</h3>
    {% if posts %}
        {% for post in posts %}
            <!--meupost é uma classe que foi definida no css (main.css)-->
            <div class="row border mt-4 p-4 meupost" >
                <!--O Bootstrap divide a tela em linhas e colunas, onde o tamanho máximo de colunas (tela cheia) são 12
                Desta forma, estamos dividindo em 2 colunas, uma com 3 posições e outra com 9, de modo a ocupar a tela toda-->
                <div class="col col-2">
                    <div class="image pe-2">
                        <img src="{{  url_for('static', filename='profile_pictures/{}'.format(post.autor.foto_perfil)) }}" class="rounded" width="200" >
                        <br>
                        <strong>{{ post.autor.username }}</strong>

                        <!--Div que coloca as tags dos cursos em que o usuário está inscrito-->
                        <div class="row justify-content-center">
                            <!--Transforma a string de cursos em uma lista para percorrer e gerar um botão diferente para cada curso-->
                            {% for curso in post.autor.cursos.split(';') %}
                                <button type="button" class="btn btn-success mt-2" disabled>{{ curso }}</button>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col col-9">
                    <a style="text-decoration: none; color:black" href="{{ url_for('posts_bp.exibir_post', post_id=post.id) }}"><h3>{{ post.titulo }}</h3></a>
                    <p>{{ post.corpo }}</p>
                    <br>
                    <span> Creation date: {{ post.data_criacao.strftime('%d/%m/%Y') }}</span>
                    <br>

                </div>
            </div>

            <!--Somente para dar um pequeno espaço até o rodapé-->
            <div class="row mt-5"></div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}